<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <akka>
        <hocon>
            <![CDATA[
                akka {
                    actor {
                        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                        serializers {
                            wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
                        }
                        serialization-bindings {
                            "System.Object" = wire
                        }
                    }
                    remote {
                        helios.tcp {
                            port = 0
                            hostname = 127.0.0.1
                        }
                        deployment {
                            "/user/gameManager" {
                                remote = "akka.tcp://BattleShip@127.0.0.1:8080"
                            }
                        }

                        ### General settings

                        # Timeout after which the startup of the remoting subsystem is considered
                        # to be failed. Increase this value if your transport drivers (see the
                        # enabled-transports section) need longer time to be loaded.
                        startup-timeout = 10 s

                        # Timout after which the graceful shutdown of the remoting subsystem is
                        # considered to be failed. After the timeout the remoting system is
                        # forcefully shut down. Increase this value if your transport drivers
                        # (see the enabled-transports section) need longer time to stop properly.
                        shutdown-timeout = 10 s

                        # Before shutting down the drivers, the remoting subsystem attempts to flush
                        # all pending writes. This setting controls the maximum time the remoting is
                        # willing to wait before moving on to shut down the drivers.
                        flush-wait-on-shutdown = 2 s

                        # Reuse inbound connections for outbound messages
                        use-passive-connections = on

                        # Controls the backoff interval after a refused write is reattempted.
                        # (Transports may refuse writes if their internal buffer is full)
                        backoff-interval = 0.05 s

                        # Acknowledgment timeout of management commands sent to the transport stack.
                        command-ack-timeout = 30 s

                        # If set to a nonempty string remoting will use the given dispatcher for
                        # its internal actors otherwise the default dispatcher is used. Please note
                        # that since remoting can load arbitrary 3rd party drivers (see
                        # "enabled-transport" and "adapters" entries) it is not guaranteed that
                        # every module will respect this setting.
                        use-dispatcher = "akka.remote.default-remote-dispatcher"

                        ### Security settings

                        # Enable untrusted mode for full security of server managed actors, prevents
                        # system messages to be send by clients, e.g. messages like 'Create',
                        # 'Suspend', 'Resume', 'Terminate', 'Supervise', 'Link' etc.
                        untrusted-mode = off
    
                        # When 'untrusted-mode=on' inbound actor selections are by default discarded.
                        # Actors with paths defined in this white list are granted permission to receive actor
                        # selections messages. 
                        # E.g. trusted-selection-paths = ["/user/receptionist", "/user/namingService"]   
                        trusted-selection-paths = []

                        # Should the remote server require that its peers share the same
                        # secure-cookie (defined in the 'remote' section)? Secure cookies are passed
                        # between during the initial handshake. Connections are refused if the initial
                        # message contains a mismatching cookie or the cookie is missing.
                        require-cookie = off

                        # Generate your own with the script availbale in
                        # '$AKKA_HOME/scripts/generate_config_with_secure_cookie.sh' or using
                        # 'akka.util.Crypt.generateSecureCookie'
                        secure-cookie = ""

                        ### Logging

                        # If this is "on", Akka will log all inbound messages at DEBUG level,
                        # if off then they are not logged
                        log-received-messages = off

                        # If this is "on", Akka will log all outbound messages at DEBUG level,
                        # if off then they are not logged
                        log-sent-messages = off

                        # Sets the log granularity level at which Akka logs remoting events. This setting
                        # can take the values OFF, ERROR, WARNING, INFO, DEBUG, or ON. For compatibility
                        # reasons the setting "on" will default to "debug" level. Please note that the effective
                        # logging level is still determined by the global logging level of the actor system:
                        # for example debug level remoting events will be only logged if the system
                        # is running with debug level logging.
                        # Failures to deserialize received messages also fall under this flag.
                        log-remote-lifecycle-events = on

                        # Logging of message types with payload size in bytes larger than
                        # this value. Maximum detected size per message type is logged once,
                        # with an increase threshold of 10%.
                        # By default this feature is turned off. Activate it by setting the property to
                        # a value in bytes, such as 1000b. Note that for all messages larger than this
                        # limit there will be extra performance and scalability cost.
                        log-frame-size-exceeding = off

	                    # Log warning if the number of messages in the backoff buffer in the endpoint
                        # writer exceeds this limit. It can be disabled by setting the value to off.
                        log-buffer-size-exceeding = 50000

                        ### Failure detection and recovery

                        # Settings for the Phi accrual failure detector (http://ddg.jaist.ac.jp/pub/HDY+04.pdf
                        # [Hayashibara et al]) used by the remoting subsystem to detect failed
                        # connections.
                        transport-failure-detector {

                          # FQCN of the failure detector implementation.
                          # It must implement akka.remote.FailureDetector and have
                          # a public constructor with a com.typesafe.config.Config and
                          # akka.actor.EventStream parameter.
                          implementation-class = "Akka.Remote.DeadlineFailureDetector,Akka.Remote"

                          # How often keep-alive heartbeat messages should be sent to each connection.
                          heartbeat-interval = 120 s

                          # Number of potentially lost/delayed heartbeats that will be
                          # accepted before considering it to be an anomaly.
                          # This margin is important to be able to survive sudden, occasional,
                          # pauses in heartbeat arrivals, due to for example garbage collect or
                          # network drop.
                          acceptable-heartbeat-pause = 600 s
                        }

                        # Settings for the Phi accrual failure detector (http://ddg.jaist.ac.jp/pub/HDY+04.pdf
                        # [Hayashibara et al]) used for remote death watch.
                        watch-failure-detector {

                          # FQCN of the failure detector implementation.
                          # It must implement akka.remote.FailureDetector and have
                          # a public constructor with a com.typesafe.config.Config and
                          # akka.actor.EventStream parameter.
                          implementation-class = "Akka.Remote.PhiAccrualFailureDetector,Akka.Remote"

                          # How often keep-alive heartbeat messages should be sent to each connection.
                          heartbeat-interval = 120 s

                          # Defines the failure detector threshold.
                          # A low threshold is prone to generate many wrong suspicions but ensures
                          # a quick detection in the event of a real crash. Conversely, a high
                          # threshold generates fewer mistakes but needs more time to detect
                          # actual crashes.
                          threshold = 10.0

                          # Number of the samples of inter-heartbeat arrival times to adaptively
                          # calculate the failure timeout for connections.
                          max-sample-size = 200

                          # Minimum standard deviation to use for the normal distribution in
                          # AccrualFailureDetector. Too low standard deviation might result in
                          # too much sensitivity for sudden, but normal, deviations in heartbeat
                          # inter arrival times.
                          min-std-deviation = 100 ms

                          # Number of potentially lost/delayed heartbeats that will be
                          # accepted before considering it to be an anomaly.
                          # This margin is important to be able to survive sudden, occasional,
                          # pauses in heartbeat arrivals, due to for example garbage collect or
                          # network drop.
                          acceptable-heartbeat-pause = 600 s


                          # How often to check for nodes marked as unreachable by the failure
                          # detector
                          unreachable-nodes-reaper-interval = 1s

                          # After the heartbeat request has been sent the first failure detection
                          # will start after this period, even though no heartbeat mesage has
                          # been received.
                          expected-response-after = 120 s

                        }
                    }
                }
            ]]>
        </hocon>
    </akka>
    
</configuration>
